

#SmallText
{
    font-family: "Arial";
    font-style: initial;
    font-size: 16px;
    color:rgb(245,245, 245);  
}

#b1
{
    background:rgb(4, 43, 94);
    font-size:14px;
    color:white;
}
